.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tab {
  background-color: inherit;
  border-bottom: 3px solid darkgray;
  color: black;
  padding: 8px;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 24x;
  font-weight: bold;
  cursor: pointer;
}

.actual-body {
  padding: 16px;
}

.statement {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 72px;
  text-align: center;
  margin: 24px;
}

.tagline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}